body{
    background-color:#CAFAFE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

.topnav{
    height: 60px;
    width: 100%;
    padding: 10px;
    /* background-color: #97CAEF; */
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-sizing: border-box;
}

.topnav .options{
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.topnav .options a{
    color: white;
    width: 100px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 2px;
    background-color: teal;
}

.topnav .options a:hover{
    background-color: rgb(0,128,150);
}

.topnav .options a:active, a:visited{
    background-color: rgb(11, 46, 92);
}

.topnav .searchBox{
    width: 203px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* justify-content:left; */
}

.topnav .searchBox .searchInput{
    text-align: center;
    width: 180px;
    border-radius: 4px;
}

.content{
    height: 500px;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
}

.content #map{
    width: 50%;
}

.content #formController{
    width: 50%;
    display: inline-block;
    /* justify-content: center; */
    /* background-color: yellow; */
}

.content #formController .controller{
    height: 30px;
    width: 100%;
    display: flex;
    /* background-color: tomato; */
    justify-content: 10px;
    /* margin: px; */
}

.content #formController .controller button{
    width: 100%;
    border-radius: 4px;
    background-color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    /* align-tracks: center; */
}

.content #formController .form {
    width: 400px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* background-color: tomato; */
    /* justify-self: center; */
    /* box-shadow: 4px 1px 9px 1px grey; */
    /* margin: 8px; */
    /* justify-self: center; */
}

.content #formController .preview_page {
    /* width: 200px; */
    /* padding: 8px; */
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    /* background-color: tomato; */
    /* justify-self: center; */
    /* box-shadow: 4px 1px 9px 1px grey; */
    /* margin: 8px; */
    /* justify-self: center; */
}

.content #formController .first_page{
    text-align: justify;
    text-justify: inter-word;
}

.content #formController .form .responseButtons{
    justify-content: flex-end;
}

.content #formController .form button {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    background-color: teal;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    /* padding-left: 30px; */
    /* justify-content: flex-end; */
    /* border: 0px; */
    /* box-shadow: 4px 1px 9px 1px grey; */
}

.content #formController .form div {
    display: flex;
    /* justify-content: space-between; */
    height: 30px;
    margin-bottom: 8px;
}
.content #formController .form input {
    width: 200px;
    border-radius: 4px;
}

.content #formController .form label {
    width: 200px;
}

preview_page{
    display: block;
    margin: auto;    
}

td{
    border: 1px solid black;
}